schema-agents>=0.1.45
imjoy-rpc>=0.5.48.post2
requests
pypdf
hypha>=0.15.50
tqdm
aiofiles
serpapi
langchain>=0.1.11
langchain-community==0.0.27
langchain-core==0.1.31
beautifulsoup4
pandas
duckduckgo-search==5.0
langchain-openai==0.0.8
rank-bm25==0.2.2
html2text==2020.1.16
setuptools
